body {
    background-color: black;
    color: beige;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

.main {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

h1 {
    display: inline-flex;
    width: 100%;
    color: blueviolet;
    background-color: aliceblue;
    margin-top: 0px;
    height: 95px;
    font-size: 70px;
    padding-top: 10px;
    border-radius: 15px;
    /* min-width: 425px; */
    justify-content: center;
}

.about {
    border: 0.1px gray solid;
    /* object-fit: cover; */
    /* max-height: 65vh; */
    margin-top: 25px;
    border-radius: 20px;
    flex-shrink: 1;
}

.grey {
    color: grey;
    font-size: large;
    margin-top: 3px;
    margin-bottom: 40px;
}

.contact {
    background-color: aliceblue;
    border-radius: 19px;
    /* max-width: 350px; */
    /* height: 30px; */
    font-size: 45px;
    font-weight: bolder;
    font-family: 'Courier New';
    margin-top: 25px;
    padding: 190px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* display: flex; */
    /* flex: 1; */
}

.left {
    flex: 1;
}

.Right {
    flex: 1;
}

.unique {
    color: blueviolet;
}

h2 {
    /* background-color: aliceblue; */
    border-radius: 15px;
    min-width: 450px;
    /* max-width: 500px; */
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Courier New';
    color: aliceblue;
}

.text {
    font-size: xx-large;
    font-weight: 1000;
}

.one>img {
    background-color: white;
    height: 1000px;
    object-fit: cover;
    border-radius: 7px;
}

.two>img {
    background-color: white;
    height: 1000px;
    object-fit: cover;
    border-radius: 7px;
}

.right>li {
    margin-top: 30px;
    margin-bottom: 10px;
}

@media (max-width: 1000px) {

    .main {
        flex-direction: column;
    }

    .about {
        height: 1000px;
        width: 95%;
    }

    .contact {
        padding: 10px;
        font-size: xxx-large;
        padding-left: 300px;
        padding-right: 300px;

    }
    .grey{
        margin-bottom: 55px;
    }
    h2{
        font-size: xxx-large;
    }
    .one>img {
        height: 1500px; 
    }
    
    .two>img {
        height: 1400px; 
    }   
}
